*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.imports
*.kdev4
*.liquid
*.log
*.o
*.out
*.prof
*.swp
*.tag
*_flymake.hs
*~
.#*
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
.vagrant/
/*.iml
/.cabal-project-deps
/.cabal-sandbox/
/.ghc.environment*
/.idea/
/.stack-work
/_release/
/cabal.project.local
TAGS
cabal-dev/
cabal.sandbox.config
dist-newstyle/
dist
tags
.DS_Store
.hspec-failures
# shake build information
_build/
